{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Project</title>
    {% tailwind_css %}
</head>

<body>
    {% include 'siakap/partials/navbar.html' %}
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Main content area -->
            <div class="overflow-x-auto p-4">
                <h1 class="text-3xl font-bold mb-4">Create New Project</h1>
                {% if error %}
                <script>
                    alert("{{ error }}");
                </script>
                {% endif %}
                <form method="POST" action="{% url 'add_project' %}" class="space-y-4">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="name" id="Project Name" class="input input-bordered input-success w-full max-w-xs" placeholder="project name" />
                    </div>
                    <div>
                        <input type="text" name="description" id="Project Description" class="input input-bordered input-success w-full max-w-xs"
                            placeholder="project description" />
                    </div>
                    <button type="submit"
                        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add
                        Project</button>
                </form>
            </div>
        </div>
                {% include 'siakap/partials/sidebar.html' %}
    </div>
</body>

</html>