{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        Personal Finance Tracker
        {% endblock %}
    </title>
    {% tailwind_css %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
</head>

<body>
    {% include 'siakap/partials/navbar.html' %}
    <!-- Sidebar -->
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Main content area -->
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Project Title</th>
                            <th>Project Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr class="hover:bg-yellow-300">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <div class="flex items-center">
                                    <form method="POST" action="{% url 'delete_project' project.id %}"
                                        onsubmit="return confirm('Are you sure you want to delete this project?');" hx-delete
                                        hx-target="#project-{{ project.id }}" hx-swap="outerHTML" class="mr-2">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-600 hover:text-red-900">
                                            {% heroicon_outline "trash" %}
                                        </button>
                                    </form>
                                    <form method="GET" action="{% url 'stations' project.id %}" style="display:inline;">
                                        <button type="submit" class="text-blue-600 hover:text-blue-900">
                                            {% heroicon_outline "folder-plus" %}
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'siakap/partials/sidebar.html' %}
    </div>
</body>

</html>